Task 1. Mathematical functions/x64/
Task 1. Mathematical functions/.vs/
Task 1. Mathematical functions/Task 1. Mathematical functions.vcxproj.user
Task 2. Class/x64/
Task 2. Class/.vs/
Task 2. Class/Task 2. Class.vcxproj.user
Task_3_Class_hierarchy/x64/
Task_3_Class_hierarchy/.vs/
Task_3_Class_hierarchy/Task_3_Class_hierarchy.vcxproj.user
